*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
opencv/.cxx/
opencv/build/
opencv/etc/
opencv/java/
opencv/libcxx_helper/
opencv/native/
/.idea
.idea/workspace.xml
/app/release